.input-mix{
	margin-left:10px;
	margin-top:50px;
		border-bottom: 1px solid #DBDBDB;
}
.input-mix .delivery-up-tx{
	float: none;
}
.input-mix .select{
	width: 100px;
	padding: 1px 6px;
	height: 35px;
	background-color:white;
	border-color: #DBDBDB;
}
.btupload{
	font-family:"微软雅黑";
}
.delivery-check{
	float:left;
	margin-top:35px;
	border-collapse:collapse;
	font-size:18px;
}
.delivery-check .norline th{
	padding:10px 2px;
}
.delivery-check tbody{
	margin-bottom:200px;
} 
.norline .font-blue{
	color:#1297CF
}
.norline .font-green{
	color:#49ba5c
}
.norline .font-red{
	color:#ec7171
}

.pagination{
	margin:20px;
	clear:both;
}
.button-group{
	z-index:999;
    border-radius:5px 5px 0 0;
    position:fixed;
    bottom:0px;
    left:692px;
    background-color:white;
    border-left:1px solid #eaedec;
    border-right:1px solid #eaedec;
    border-top:1px solid #eaedec;
    padding:15px 7px 0 15px;
/*	width:100px;*/

}
.button-group input{
/*	background-image:url("../btn-big.png");*/
	background-position:center;
	margin-bottom:15px;
	width:100px;
	height:40px;
	font-size:16px;
	color:white;
	font-size:18px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	cursor: pointer;
	background-color: #1297CF;
	margin-right:8px;
}
.button-group input:hover{
		 background-color: #0e80b0;
}
.fixed-print{
	background-color:#E6E6E6;
	position:fixed;
	bottom:0;
	right:10px;
	width:180px;
	height:120px;
   border-radius:10px 10px 0 0;
}
.fixed-print input{
	background-color:#E6E6E6;
	border:none;
	width:160px;
	height:30px;
	margin-top:18px;
	color:#333;
	font-size:16px;
	margin-left:15px;
	font-family:"微软雅黑";
		cursor:pointer;
}
.fixed-print input:hover{
	color:#1297CF;

}
.fixed-print input:first-child{
	background-image:url("../check-print.png");
	background-position:left;
	background-repeat:no-repeat;

}
.fixed-print input:nth-child(2){
	background-image:url("../enter-print.png");
	background-position:left;
	background-repeat:no-repeat;
}

#accept-list-div .position{
	height:25px;
	width: 150px;
}
