.subicons{
	z-index:11
}

.partsthumb{
	height:35px;
	width:35px;
}
.fixed-btn{
    border: 1px solid #E6E6E6;
    position: relative;
    background-repeat:no-repeat;
    background-position:center center;
    top: 40px;
    height:52px;
    border-radius: 10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	background-image:url("../btn-big.png");
	color:white;
	font-size:20px;
	font-weight:bold;
	font-family:"微软雅黑";
	letter-spacing:1px;
	width:150px;
	  left: 500px; 
	  cursor:pointer;
}
.fixed-btn:hover{
	box-shadow:-3px -3px 10px #a4e5ff;
	-webkit-box-shadow:-3px -3px 10px #a4e5ff;
	-moz-box-shadow:-3px -3px 10px #a4e5ff;
	
}

/*.generate-btn{	
   left: 500px;   
}
.giveUp-btn{
   left: 500px; 
}
.add-btn{
    left:500px;
}*/
.content h3{
	margin-top:35px;
	margin-bottom:45px;
	font-size:28px;
	color:#9D9D9D;
}
.partline th{
	padding:0.3em 2.3em
}

.center-num-text{
	width:60px;		
	text-align:center;
}
