.subicons{
	z-index:11
}
.progress-bar{
	background-image:url("../progress-bar.png");
	background-repeat:no-repeat;
	background-position:center left;
	position:absolute;
	top:40px;
	left:830px;
	width:320px;
	height:100px;

}
.progress-bar p{
  position:absolute;
  top:47px;
  display:inline;
  font-size:15px;
  color:#9D9D9D;
  z-index:10;
}
.progress-bar p:nth-child(2){
	left:-22px
}
.progress-bar p:nth-child(3){
	left:119px
}
.progress-bar p:nth-child(4){
	left:260px
}
.img-position{
	position:absolute;
	left:143px;
}
.abandon-btn{
	border: 1px solid #E6E6E6;
	position:absolute;
	background-repeat:no-repeat;
    background-position:center center;
    top:140px;
    left:1085px;
    width:70px;
    height:25px;
    font-family:"微软雅黑";
    font-size:12px;
    color:#999;
}
.abandon-btn:hover{
	box-shadow:-1px -1px 3px #E6E6E6;
	-webkit-box-shadow:-1px -1px 3px #E6E6E6;
	-moz-box-shadow:-1px -1px 3px #E6E6E6;
}
.partsthumb{
	height:35px;
	width:35px;
}
.fixed-btn{
    border: 1px solid #E6E6E6;
    position: absolute;
    background-repeat:no-repeat;
    background-position:center center;
    top: 710px;
    height:52px;
    border-radius: 10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	
}
.fixed-btn:hover{
	box-shadow:-3px -3px 10px #a4e5ff;
	-webkit-box-shadow:-3px -3px 10px #a4e5ff;
	-moz-box-shadow:-3px -3px 10px #a4e5ff;
	
}
.generate-btn{
	background-image:url("../fixed-btn.png");
   left: 980px;
    width: 180px;
   
}
.add-btn{
	background-image:url("../add-btn.png");
    left:800px;
    width: 160px;

}

.content{
	padding-top:50px;
	padding-left:200px;
	padding-bottom:80px;
}
.content h3{
	margin-top:35px;
	margin-bottom:45px;
	font-size:28px;
	color:#9D9D9D;
}
.partline th{
	padding:0.3em 2.3em
}
.edit_btn{
	background-image:url("../edit.png");
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	border:1px solid #DDD;
	width:23px;
	height:23px;
}
.del_btn{
    background-image:url("../del.png");
	background-position:center center;
	background-repeat:no-repeat;
	border:1px solid #DDD;
	width:23px;
	height:23px;
	margin-left:10px;
}
.edit_btn:hover{
	box-shadow:-1px -1px 3px #a4e5ff;
	-webkit-box-shadow:-1px -1px 3px #a4e5ff;
	-moz-box-shadow:-1px -1px 3px #a4e5ff;
}
.del_btn:hover{
	box-shadow:-1px -1px 3px #a4e5ff;
	-webkit-box-shadow:-1px -1px 3px #a4e5ff;
	-moz-box-shadow:-1px -1px 3px #a4e5ff;
}
.center-num-text{
	width:60px;		
	text-align:center;
}
