<link rel="stylesheet"  type="text/css" href="/assets/delivery/supWaybill.css" />
<script src="/assets/deliery-send-receive.js" type="text/javascript"></script>
<div class="fillindestinations">
     <p>
          添加运单数据
     </p>
     <div class="fillind">
          <input type="text" class="fillindest" placeholder="请您填写客户名" id="client-search-text" autocomplete="off">
          </input>
          <input type="submit" value="查找零件"   class="btupload search-btn" id='upload-button'>
     </div>
</div>
<div class="partsselection">
    
</div>
<div class="shoppingcart">
     <div class="unfoldcart">

     </div>
     <div class="ensurecart">
          <input type="button" class="checkoutbt" style="display: none;" value="生成订单" />
     </div>
     <div class="leftcorner"></div>
     <div class="centercart"></div>
     <div class="rightcorner"></div>
     <div class="cartbase">
          <span class="cartname">预存运单</span>
     </div>
</div>