<script src="/assets/jquery.flot/jquery.flot.js" type="text/javascript"></script>
<script>
// function chart_search( hash, page ){
     // if (page==null)   	page=0;
	// $.post("./data_analysis",{ partNr: hash["partNr"], options: hash, page: page },
			  // function(data){ $('#result').html(data); },
			  // "html");
// }
// $(function (){
	// $('#partNr_float > input.startsearch').click(function(){ chart_search( {partNr:$('#partNr_float > input[placeholder]').val()} );    });
// })
</script>
<h3 id="charttitle" class="cf-h3">CF值与实际到货量对比图</h3>
<div  class="cf-drawing" >
	<div id="charting" class="cf-put-drawing">	<h1>请先选择条件</h1> </div>
</div>

<div id="search_expired_vertical_bar" class="cf-bar">
	<% if session[:orgOpeType]==OrgOperateType::Client %>
		<div class="cf-box  texts" id="supplier_float" >
		     <span class="cf-contenttype">供应商号</span>
		     <input type="text" name="searchcontent" class="searchcontent" placeholder="请输入供应商号" />
		</div>
	<% else %>
		<div class="cf-box  texts" id="client_float" >
		     <span class="cf-contenttype">客户号</span>
		     <input type="text" name="searchcontent" class="searchcontent" placeholder="请输入客户号" />
		</div>
	<% end %>
	<div class="cf-box  texts" id="partNr_float" >
	     <span class="cf-contenttype">零件号</span>
	     <input type="text" name="searchcontent" class="searchcontent" placeholder="请输入零件号" />
	</div>
	<div class="cf-box  ranges" id="date_float" >
	     <span class="cf-contenttype">日期</span>
	     <input type="text" name="searchcontent" class="searchcontent" placeholder="请选择开始时间" />
	     <input type="text" name="searchcontent" class="searchcontent" placeholder="请选择结束时间" />
	</div>
	<div class="cf-box texts cf-box-last" id="type_float" >
	     <span class="cf-contenttype">预测类型</span>
	     <input type="button"	name="searchtype" class="searchforcasttype cf-searchtype-border" value="D" />
	     <input type="button" name="searchtype" class="searchforcasttype"	value="W" />
	     <input type="button" name="searchtype" class="searchforcasttype"	value="M" />
	     <input type="button" name="searchtype"	class="searchforcasttype" value="Y" />
	     <input type="button"	name="searchtype" class="searchforcasttype" value="T" />
	     <input type="button"	name="searchtype" class="searchforcasttype" value="O" />
	</div>
	<div id="search_expired_button" >
		<input type="button" name="cancel" class="normal-small-btn cf-btn-first" value="取消" />
		<input type="button" name="search" class="normal-small-btn" value="搜索" />
	</div>
</div>


<div id='result' class="tableview" style="clear: left"></div>
<script type="text/javascript">
///////////////////////////////////////////////////////////////////	        ext     search
function get_demand_label() {
     var label = {
          // client: [],
          // supplier: [],
          // partNr: [],
          // // start: hash["start"],
          // // end: hash["end"],
          // type: [],
     }
     label.client = $('#client_float > input.startsearch').val();
     label.supplier = $('#supplier_float > input.searchcontent').val();
     label.partNr = $("#partNr_float > input.searchcontent").val();
     label.start = $("#date_float > input").get(0).value;
     label.end = $("#date_float > input").get(1).value;
     label.type = $('.cf-searchtype-border').get(0).value;
     return label;
}

function showTooltip(x, y, contents) {
     $('<div id="tooltip">' + contents + '</div>').css({
          top : y - 40,
          left : x + 5
     }).appendTo('body').fadeIn();
}

function chart_cf( hash ){
	$.post("./demand_cf",
			{
               client : hash["client"],
               supplier : hash["supplier"],
               partNr : hash["partNr"],
               start : hash["start"],
               end : hash["end"],
               type : hash["type"],
            },
			function(data){  
				if (data.flag){
				  	var charting = $('#charting');
				  	$.plot($(charting),  [
				  		{ data:data.chart, lines: {show: true, fill: true}, points: {show: true}, color : '#71c73e' }
				  	], {
				  		xaxis:{ min:0, max:7, ticks:data.x, tickColor : 'transparent', },
				  		yaxis:{ min:0 },
						grid: {
							borderWidth: 1,
							minBorderMargin: 20,
							labelMargin: 10,
							backgroundColor: {	colors: ["#fff", "#e4f4f4"] 	},
							hoverable: true,
							mouseActiveRadius: 50,
							margin: {	top: 18,	bottom: 20,		left: 150	}
						}
				  	});
			        $("#charttitle").text("零件号： "+data.partNr+"， 预测类型："+data.type);
			          var previousPoint = null;
			          var tips = data.tips
			          charting.bind('plothover', function(event, pos, item) {
			               if(item) {
			                    if(previousPoint != item.dataIndex) {
			                         previousPoint = item.dataIndex;
			                         $('#tooltip').remove();
			                         var x = item.datapoint[0], y = item.datapoint[1];
			                         var d = new Date(x * 1000);
			                         showTooltip( item.pageX, item.pageY, '数量： ' + y + ' , 时间： ' + tips );
			                    }
			               } else {
			                    $('#tooltip').remove();
			                    previousPoint = null;
			               }
			          });
				 }else
				 	MessageBox(data.msg);
			},"json");
}
///////////////////////////////////////////////////////////////////         DOM  on   ready
$(function() {
	$(".searchforcasttype").click(function(){
			$(".searchforcasttype").removeClass("cf-searchtype-border");
        	$(this).addClass("cf-searchtype-border");
	});
     $('#search_expired_button > input[name=search]').click(function() {
          var label = get_demand_label();
          chart_cf(label);
     });
     $('#search_expired_button > input[name=cancel]').click(function() {
          $('input.searchcontent').val("");
          $('.activetype').removeClass("cf-searchtype-border");
     });

     $('#date_float > input[placeholder*=开始]').datepicker({
          showButtonPanel : true
     });
     $('#date_float > input[placeholder*=结束]').datepicker({
          showButtonPanel : true
     });

     $('#client_float > input.searchcontent').autocomplete({
          source : "/organisation_manager/redis_search",
          appendTo : "#client_float"
     });
     $('#supplier_float > input.searchcontent').autocomplete({
          source : "/organisation_manager/redis_search",
          appendTo : "#supplier_float"
     });
     $("#partNr_float > input.searchcontent").autocomplete({
          source : "/part/redis_search",
          appendTo : "#partNr_float"
     });
});
///////////////////////////////////////////////////////////////////         predict type
</script>

