<link rel="stylesheet"  type="text/css" href="/assets/investory-management.css" />

	<div class="wrap-content">
   	<table>
   		
      <tr>
		<th class="check-receive interface-img"><a href="../delivery/link?r=100">&nbsp;</a></th>
		<th class="deal-detection interface-img"><a href="../delivery/link?r=200">&nbsp;</a></th>
		<th class="enter-store interface-img"><a href="../delivery/link?r=300">&nbsp;</a></th>
      </tr>
      <tr>
      <th></th>
      	<th class="outer-store interface-img"><a href="../warehouse/stock_out">&nbsp;</a></th>
      	<th></th>
      </tr>
	</table> 
	</div>
