<link rel="stylesheet"  type="text/css" href="/assets/investory-management.css" />

<div class="wrap-content">
	<table>

		<tr>
			<th class="check-receive interface-img"><a href="../delivery/link?r=100">&nbsp;</a></th>
			<th class="deal-detection interface-img"><a href="../delivery/link?r=200">&nbsp;</a></th>
			<th class="enter-store interface-img"><a href="../delivery/link?r=300">&nbsp;</a></th>
		</tr>

	</table>
	<table style="margin-left:110px;">
		<tr>
			<th style="border-bottom:none"  class="outer-store interface-img"><a href="../warehouse/stock_out">&nbsp;</a></th>
			<th style="border-bottom:none" class="require-delivery interface-img"><a href="../demander/demand_upload">&nbsp;</a></th>

		</tr>
	</table>
</div>
