
<link rel="stylesheet"  type="text/css" href="/assets/investory-management.css" />

	<div class="wrap-content">
      <ul >
      	<li class="check-receive"></li>
      	<li class="deal-detection"></li>
      	<li class="enter-store"></li>
      </ul>
      <ul>
      	<li></li>
      	<li class="outer-store"></li>
      	<li></li>
      </ul>
	</div>
