<link rel="stylesheet"  type="text/css" href="/assets/investory-management.css" />

<div class="wrap-content">
	<ul >
		<a href="../delivery/link?r=100"><li class="check-receive">&nbsp;</li></a>
		<a href="../delivery/link?r=200"><li class="deal-detection">&nbsp;</li></a>
		<a href="../delivery/link?r=300"><li class="enter-store">&nbsp;</li></a>
	</ul>

</div>
