<link rel="stylesheet"  type="text/css" href="/assets/investory-management.css" />

	<div class="wrap-content">
   	<table>
   		
      <tr>
		<td class="check-receive interface-img"><a href="../delivery/link?r=100">&nbsp;</a></td>
		<td class="deal-detection interface-img"><a href="../delivery/link?r=200">&nbsp;</a></td>
		<td class="enter-store interface-img"><a href="../delivery/link?r=300">&nbsp;</a></td>
      </tr>
      <tr>
      <td></td>
      	<td class="outer-store interface-img"><a href="../warehouse/stock_out">&nbsp;</a></td>
      	<td></td>
      </tr>
	</table> 
	</div>
