
<div class="welcomecontent">
	<div class="welcomesentences">
		<h3>欢迎来到智能工厂！</h3>
		<ul class="features">
			<li class="feature">我们提供及时的订单递送，让您的订单第一时间获得反馈</li>
			<li class="feature">我们提供快捷的订单查错机制，让您的订单准确无误</li>
			<li class="feature">我们提供零件数据可视化，让您的零件数据更加一目了然</li>
			<li class="feature">我们提供简便的运单生成机制，让您方便快捷的查看运单</li>
		</ul>
		<div class="featurespic"></div>
	</div>
	<div class="faturescontent">
		<div class="feature-detail">
			<div class="featureshow" id="f1"></div>
			<p>1.订单的生成</p>
		</div>
		<div class="feature-detail">
			<div class="featureshow" id="f2"></div>
			<p>2.运单的查看</p>
		</div>
		<div class="feature-detail">
			<div class="featureshow" id="f3"></div>
			<p>3.数据可视化</p>
		</div>
	</div>
</div>
