
<div style="float:top; height:200px; width:1000px;text-align:left;font-size:50px;">Welcome to</div>
<div style="float:top; height:200px; width:1000px;text-align:center;font-size:150px;">&nbsp;&nbsp;SCM !</div>