
<link rel="stylesheet"  type="text/css" href="/assets/investory-management.css" />


	<div class="wrap-content">
      <ul class="wrap-ul">
      	<a href="../demander"><li class="deal-check">&nbsp;</li></a>
      	<a href="../delivery/pick_part"><li class="deal-delivery">&nbsp;</li></a>  
      </ul>
	</div>