
<link rel="stylesheet"  type="text/css" href="/assets/investory-management.css" />


	<div class="wrap-content">
 
	<table>
      <tr>
		<th class="deal-check interface-img"><a href="../demander">&nbsp;</a></th>
		<th class="deal-delivery interface-img"><a href="../delivery/pick_part">&nbsp;</a></th>
	
      </tr>

	</table> 
		</div>