	.warehouse{
		color:#999;
		width:325px;
		margin-left:40px;
		margin-top:45px;	 
		float:left;
		border:2px solid #DADADA;
    	border-radius:5px;
    	-moz-border-radius:5px;
    	-webkit-border-radius:5px;
    	padding:5px 7px 15px;
	}
	.ware-p{
		font-size:20px;
		margin-top:8px;
	   margin-bottom:-5px;
		margin-left:10px;
		
	}
	.wh-add{
		margin-top:10px;
		float:right;
		margin-right:10px;
		font-size: 15px;
	}
	.wh-post{
		float:right;
        font-size:13px;
		margin-top:1px;
		margin-right:2px;
	    display:none;
	}
	.del-sign{
		width:20px;
		height:20px;
		background-image:url("../minusp.png");
	}
	.del-sign:hover{
		background-image:url("../minusphover.png");
	}
	.wh-del{
		float:right;
		margin-right:10px;
		margin-top:3px;
	}
	    .btn-normal{
    	background-color: #1297CF;
        border-width: 0;
        color: #FFFFFF;
        
        font-family:"微软雅黑"; 
        padding:3px 5px;
        cursor:pointer;
    }
    .btn-normal:hover{
    	background:#0e80b0;
    	
    }
    .ware-li div.fake-lable{
    	cursor:pointer;	
    	border:1px solid #999;
    	font-size:15px;		
		font-family:"Arial";
        color:#999;
        background-color:#EAEDEC;
        box-shadow:2px 2px 2px #999;
        /*float:left;*/
       display:inline-block;
        margin-bottom:10px;
    }
    .ware-li div.lb1{
     padding:5px;
    	width:79px;
    	 height:17px;
    	margin-right:10px;
    
    }
    .ware-li div.lb2{
    	padding:5px;
    	width:158px;
    	height:17px;
    }

	.ware-li input{
		color:#A2A2A2;		
		font-size:14px;
		padding:5px 7px;
		margin-right:5px;
		font-family:"Arial";
		 border:1px solid #B1B1B1;
		box-shadow:2px 2px 3px #DADADA inset;
	}
    .ware-li input.ip1{
    	width:75px;
    	margin-right:10px;
    }
    .ware-li input.ip2{
    	width:154px;
    }
	 .li-small input{
    	width:175px;

    }
    .li-right{
    	margin-bottom:8px;
    }
    .li-right:last-child{
    	margin-top:-8px;
    }
    .ware-ul .li-right:last-child p{
    	font-size:40px;
    	position:relative;
    	top:-18px;
    	left:12px;  
    }
    .ware-ul .li-right:last-child input{
    	position:relative;
    	top:-25px;
    	left:5px; 
    }
    .li-right input{
      
       margin-bottom:10px;
       margin-left:15px;
    }
    .li-right input.ip1{
    	width:150px;
    }
    .li-right input.ip2{
    	width:40px;
    	margin-left:3px;
    }

    .ware-li:hover .wh-post{
    	display:block;
    }
    .wh-small-add{
    	margin-right:10px;
    }
	.equal-sign{
		display:inline;
		font-size:120px;
		float:left;
		margin-left:20px;
		color:#9D9D9D;
		margin-top:60px;
	    font-weight:lighter;
	}
    .display-block{
       display:block;
    }
    .ware-ul{
    	list-style:none;
    	padding-left:10px;
    	margin-bottom:0;
    }
    .ware-ul .li-right p{
    	font-size:15px;
    	margin:20px 0px 8px;
    }

    ul.ware-ul p:nth-child(3){
    	margin:-10px 0px 8px;
    }
    .fake-lable .choosen-li{
    	background-color:#0e80b0;
    	color:white;
    }
    .ware-li:hover input{
    	border:1px solid #DADADA;
    	  	
    }
    .ware-li:hover div.fake-lable{
    	border:1px solid #1297CF;
    	box-shadow:2px 2px 2px #1297CF; 
    }
    
    .wareposition{
    	color:#999;
    	float:left;
    	margin-top:45px;
    	margin-left:20px;
    	border:2px solid #DADADA;
    	border-radius:5px;
    	-moz-border-radius:5px;
    	-webkit-border-radius:5px;
    	padding:5px 7px 15px;
    	width:380px;
    	height:230px;   	
    }
    .li-right p{
    	display:inline;
    	font-size:30px;
    	padding:0;
    }