<script type="text/javascript">
     $(function() {
          $("#partSearchTxt").autocomplete({ source:"/part/redis_search", appendTo: "#part_redis_search" });
     }); 
</script>

<div id='part_redis_search'>
	零件号：
	<input type="text" id="partSearchTxt" name="partSearchTxt">
</div>
