@charset "UTF-8";
/* CSS Document */
/*Another version*/
@media screen and (min-width:800px) {
	.trackline {
		margin-top: 40px;
		margin-bottom: 20px;
		margin-left: 250px;
		width: 800px;
	}
	.bttrack {
		background-color: #1297cf;
		width: 76px;
		height: 34px;
		border-width: 0px;
		font-size: 18px;
		color: #ffffff;
	}
	.bttrack:hover {
		background-color: #0e80b0;
	}
	input.trackfile {
		border-color: #DBDBDB;
		border-style: solid;
		border-width: 1px;
		height: 30px;
		width: 300px;
		margin: 0px;
		padding-left: 5px;
		font-size: 14px;
		line-height: 14px;
		color: #9d9d9d;
		float: left;
		margin: 0px
	}
	.trackfile:active,.trackfile:focus {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	input.btsend {
		float: left;
		margin-right: 20px;
	}
	#triger a {
		color: #0063de;
		font-size: 16px;
		text-decoration: none;
	}
	#triger a:hover {
		text-decoration: underline;
	}
	#triger a:active,#triger a:focus {
		color: #4a248a;
	}
	#triger {
		float: left;
		width: 300px;
		margin-right: 700px;
	}
	#triger p {
		padding: 0.3em;
		margin-bottom: 0px;
	}
	#complaintdetail {
		float: left;
		width: 1000px;
		border: 1px solid #dbdbdb;
		margin-bottom: 20px;
	}
	#complaintdetail p {
		margin: 0px;
		padding: 0.3em;
		float: left;
	}
	.infoline {
		width: 30%;
		float: left;
	}
	.complaintsinput {
		float: left;
		width: 1000px;
	}
	input.keyword {
		width: 360px;
		float: left;
		height: 28px;
		border: 1px solid #b1b1b1;
		padding-left: 5px;
		font-size: 14px;
		color: #7c7c7c;
		margin-bottom: 5px;
		margin-top: 1px;
	}
	.keyword:active,.keyword:focus {
		border-color: #666666;
		color: #000000;
	}
	.description {
		width: 593px;
		height: 300px;
		float: left;
		border: 1px solid #b1b1b1;
		padding: 5px;
		font-size: 14px;
		color: #7c7c7c;
	}
	.description:active,.description:focus {
		border-color: #666666;
		color: #000000;
	}
	.leftinput {
		width: 390px;
		float: left;
		margin-right: 5px;
	}
	.ensureupload {
		float: left;
		width: 360px;
		text-align: left;
		height: 22px;
		line-height: 22px;
		background-color: transparent;
		background-image: url(uploadpic.png);
		background-position: left;
		background-repeat: no-repeat;
		padding-left: 20px;
		color: #0063de;
		font-size: 14px;
		border-width: 0px;
		margin-left: 3px;
	}
	.ensureupload:hover {
		color: #4a248a;
		background-image: url(uploadpich.png);
	}
	.picsupload {
		width: 100px;
		height: 100px;
		background-image: url(complaintpic.png);
		background-color: #efefef;
		border: 1px solid #dbdbdb;
		float: left;
		margin: 15px 15px 0px 5px;
	}
	.picname {
		width: 84px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		position: relative;
		top: 80px;
		left: -1px;
		background-color: #000000;
		color: #ffffff;
		padding-left: 3px;
		padding-right: 15px;
	}
	.deletepic {
		background-image: url(deletepic.png);
		width: 15px;
		height: 15px;
		position: relative;
		left: 83px;
		top: -16px;
	}
	.botbts {
		margin-left: 920px;
		margin-top: 5px;
		float: left;
		width: 100;
		height: 30px;
	}
}
/*different media*/
@media screen and (max-width: 800px) {
	.trackline {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 150px;
		width: 500px;
	}
	.bttrack {
		background-color: #1297cf;
		width: 76px;
		height: 34px;
		border-width: 0px;
		font-size: 18px;
		color: #ffffff;
	}
	.bttrack:hover {
		background-color: #0e80b0;
	}
	input.trackfile {
		border-color: #DBDBDB;
		border-style: solid;
		border-width: 1px;
		height: 30px;
		width: 300px;
		margin: 0px;
		padding-left: 5px;
		font-size: 14px;
		line-height: 14px;
		color: #9d9d9d;
		float: left;
		margin: 0px
	}
	.trackfile:active,.trackfile:focus {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	input.btsend {
		float: left;
		margin-right: 20px;
	}
	#triger a {
		color: #0063de;
		font-size: 14px;
		text-decoration: none;
	}
	#triger a:active,#triger a:focus {
		color: #4a248a;
	}
	#triger {
		float: left;
		width: 300px;
	}
	#triger p {
		padding: 0.3em;
		margin-bottom: 0px;
	}
	#complaintdetail {
		float: left;
		width: 710px;
		border: 1px solid #dbdbdb;
		margin-bottom: 20px;
	}
	#complaintdetail p {
		margin: 0px;
		padding: 0.3em;
		float: left;
		font-size: 12px;
	}
	.infoline {
		width: 30%;
		float: left;
	}
	.complaintsinput {
		float: left;
		width: 710px;
	}
	input.keyword {
		width: 345px;
		float: left;
		height: 28px;
		border: 1px solid #b1b1b1;
		padding-left: 5px;
		font-size: 14px;
		color: #7c7c7c;
		margin-bottom: 5px;
		margin-top: 1px;
	}
	.keyword:active,.keyword:focus {
		border-color: #666666;
		color: #000000;
	}
	.description {
		width: 333px;
		height: 300px;
		float: left;
		border: 1px solid #b1b1b1;
		padding: 5px;
		font-size: 14px;
		color: #7c7c7c;
	}
	.description:active,.description:focus {
		border-color: #666666;
		color: #000000;
	}
	.leftinput {
		width: 360px;
		float: left;
		margin-right: 5px;
	}
	.ensureupload {
		float: left;
		width: 340px;
		text-align: left;
		height: 22px;
		line-height: 22px;
		background-color: transparent;
		background-image: url(uploadpic.png);
		background-position: left;
		background-repeat: no-repeat;
		padding-left: 20px;
		color: #0063de;
		font-size: 14px;
		border-width: 0px;
		margin-left: 3px;
	}
	.ensureupload:hover {
		color: #4a248a;
		background-image: url(uploadpich.png);
	}
	.picsupload {
		width: 100px;
		height: 100px;
		background-image: url(complaintpic.png);
		background-color: #efefef;
		border: 1px solid #dbdbdb;
		float: left;
		margin: 5px 5px 0px 5px;
	}
	.picname {
		width: 84px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		position: relative;
		top: 80px;
		left: -1px;
		background-color: #000000;
		color: #ffffff;
		padding-left: 3px;
		padding-right: 15px;
	}
	.deletepic {
		background-image: url(deletepic.png);
		width: 15px;
		height: 15px;
		position: relative;
		left: 83px;
		top: -16px;
	}
	.botbts {
		margin-left: 630px;
		margin-top: 5px;
		float: left;
		width: 100;
		height: 30px;
	}
}