@charset "UTF-8";
/* CSS Document */

/*different media*/
@media screen and (max-width: 800px) {
	.wrap {
		margin-top: 20px;
		float: left;
		height: 200px;
		z-index: 99;
	}
	.abandoned {
		float: left;
		margin-right: 10px;
		width: 150px;
	}
	.lefticon {
		display: block;
		margin-top: 0px;
		width: 15px;
		float: left;
		border-width: 1px;
		border-left-width: 0px;
		border-style: solid;
		border-color: #dadada;
		border-collapse: collapse;
		border-style: solid;
	}
	.open {
		background-repeat: no-repeat;
		border-width: 0px;
		margin: 0px;
		padding: 0px;
		width: 15px;
		height: 188px;
		margin: 0px;
		background-color: #f2f2f2;
	}
	.open:hover {
		background-color: #ffffff;
	}
	.listab {
		float: left;
		list-style: none;
		margin-top: 0px;
		padding: 0px;
		color: #505050;
	}
	.listab li {
		background-color: #f2f2f2;
		border-color: #dadada;
		border-width: 1px;
		border-top-width: 0px;
		border-style: solid;
		border-left-width: 0px;
		border-collapse: collapse;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		padding-left: 0.3em;
		padding-right: 0.3em;
		font-size: 14px;
		width: 97px;
	}
	.listab li:hover {
		background-color: #dbdbdb;
	}
	#floatsearch {
		position: fixed;
		left: 563px;
		top: 176px;
		z-index: 99;
	}
	.floats {
		padding-right: 25px;
		border-width: 1px;
		border-style: solid;
		border-color: #dbdbdb;
		color: #9d9d9d;
		width: 127px;
		height: 30px;
		font-size: 14px;
		padding-left: 5px;
		
	}
	.floats:active,.floats:focus {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	.logosearch {
		position: absolute;
		top: 7px;
		left: 135px;
		height: 20px;
		width: 20px;
		background-image: url(searchlogo.png);
		background-position: center;
		background-repeat: no-repeat;
		border-width: 0px;
		background-color: transparent;
	}
	.logosearch:hover {
		background-image: url(searchlogoh.png);
	}
	.searchtit {
		float: left;
		border-color: #DBDBDB;
		border-width: 1px;
		border-style: solid;
		border-left-width: 0px;
		color: #9d9d9d;
		height: 25px;
		width: 74px;
		font-size: 14px;
		padding-right: 1.8em;
		padding-left: 0.4em;
	}
	.searchtit:hover {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	.fillline {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 0px;
		width: 800px;
	}
	input.demand {
		border-color: #DBDBDB;
		border-style: solid;
		border-width: 1px;
		height: 30px;
		width: 280px;
		margin: 0px;
		padding-left: 5px;
		font-size: 14px;
		line-height: 14px;
		color: #9d9d9d;
		float: left;
	}
	.demand:active,.demand:focus {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	input.leftdemand {
		margin-right: 28px;
	}
	.linef {
		float: left;
		display: block;
		width: 700px;
	}
	.all {
		background-color: #F4F9FE;
		border-color: #e5eff8;
		color: #66a3d3;
		float: left;
		width: 40px;
		height: 40px;
		margin-right: 5px;
		margin-top: 10px;
		border-style: solid;
		border-width: 1px;
		font-size: 16px;
	}
	.all {
		background-color: #F9FCFE;
	}
	.filter {
		margin-top: 10px;
		float: left;
		color: #678197;
		padding: 0.5em 0.5em 0.5em 0.5em;
		background-color: #F4F9FE;
		border-radius: 5px;
	}
	.filsup {
		list-style: none;
		margin: 0px;
		padding: 0px;
		float: left;
	}
	.mid {
		display: block;
		width: 75px;
		height: 25px;
		float: left;
		text-align: center;
		line-height: 25px;
		font-size: 14px;
		background-color: #F9FCFE;
		border-width: 1px;
		border-color: #E5EFF8;
		border-style: solid;
		border-radius: 5px;
		margin-right: 5px;
	}
	.al {
		width: 25px;
		height: 25px;
		background-image: url(aleft.png);
		float: left;
		margin-right: 5px;
	}
	.al:hover {
		background-image: url(alefth.png);
	}
	.ar {
		width: 25px;
		height: 25px;
		background-image: url(aright.png);
		float: left;
	}
	.ar:hover {
		background-image: url(arighth.png);
	}
	.filinput {
		color: #678197;
		width: 80px;
		height: 30px;
		border-style: none;
		font-size: 14px;
		text-align: center;
	}
	.filinput:active,.filinput:focus {
		width: 80px;
		height: 28px;
		border-style: solid;
		border-color: #efefef;
		box-shadow: 0px 0px 1px 0px rgb(84, 179, 255);
		border-width: 1px;
		font-size: 14px;
		text-align: center;
		font-size: 14px;
	}
	.tableview {
		float: left;
	}
	.upData {
		border-top: 1px solid #e5eff8;
		border-right: 1px solid #e5eff8;
		margin: 20px auto;
		border-collapse: collapse;
	}
	.lineone {
		background-color: #F4F9FE;
	}
	.lineone th {
		border-color: #E5EFF8;
		border-style: solid;
		border-width: 1px;
		color: #66A3D3;
		padding-bottom: 0.3em;
		padding-left: 0.4em;
		padding-right: 0.4em;
		padding-top: 0.3em;
		text-align: center;
		font-size: 1.2em;
		font-family: Arial;
		font-weight: normal;
		line-height: 1.5em;
	}
	.norline th {
		color: #678197;
		border-color: #E5EFF8;
		border-style: solid;
		border-width: 1px;
		padding-bottom: 0.3em;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 0.3em;
		text-align: center;
		font-weight: normal;
		font-size: 0.9em;
	}
	.nerline th {
		color: #678197;
		border-color: #E5EFF8;
		border-style: solid;
		border-width: 1px;
		padding-bottom: 0.3em;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 0.3em;
		text-align: center;
		font-weight: normal;
		font-size: 0.9em;
		background-color: #F4F9FE;
	}
	.firstc {
		background-color: #F9FCFE;
	}
	.botbts {
		width: auto;
		height: 40px;
		float: left;
		margin-top: 20px;
	}
	input.btsave {
		float: left;
		margin-right: 20px;
	}
	input.btsend {
		float: left;
		margin-right: 20px;
	}
	input.btdownload {
		float: left;
		margin-right: 20px;
	}
	input.btcancel {
		float: left;
		margin-left: 330px;
		margin-right: 20px;
		width: 76px;
		height: 32px;
		border-width: 0px;
		background-color: transparent;
		background-image: url(btncbg.png);
		background-repeat: no-repeat;
		font-size: 18px;
		color: #9d9d9d;
	}
	input.btcancel:hover {
		background-image: url(btnchov.png);
		color: #7c7c7c;
	}
}

/*Another version*/
@media screen and (min-width:800px) {
	.wrap {
		margin-top: 20px;
		float: left;
		height: 200px;
	}
	.abandoned {
		float: left;
		margin-right: 10px;
		width: 150px;
	}
	.lefticon {
		margin-top: 0px;
		width: 15px;
		float: left;
		border-width: 1px;
		border-left-width: 0px;
		border-style: solid;
		border-color: #dadada;
		border-collapse: collapse;
		border-style: solid;
	}
	.open {
		background-repeat: no-repeat;
		border-width: 0px;
		margin: 0px;
		padding: 0px;
		width: 15px;
		height: 188px;
		margin: 0px;
		background-color: #f2f2f2;
	}
	.open:hover {
		background-color: #ffffff;
	}
	.listab {
		float: left;
		list-style: none;
		margin-top: 0px;
		padding: 0px;
		color: #505050;
	}
	.listab li {
		background-color: #f2f2f2;
		border-color: #dadada;
		border-width: 1px;
		border-top-width: 0px;
		border-style: solid;
		border-left-width: 0px;
		border-collapse: collapse;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		padding-left: 2.2em;
		padding-top: 0.3em;
		font-size: 14px;
		width: 120px;
	}
	.listab li:hover {
		background-color: #dbdbdb;
	}
	#floatsearch {
		position: fixed;
		left: 990px;
		top: 202px;
		z-index: 99;
	}
	.floats {
		border-width: 1px;
		border-style: solid;
		border-color: #dbdbdb;
		color: #9d9d9d;
		width: 180px;
		height: 30px;
		font-size: 14px;
		padding-left: 5px;
		padding-right: 25px;
		margin-right: -5px;
	}
	.floats:active,.floats:focus {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	.logosearch {
		position: absolute;
		top: 7px;
		left: 188px; height : 20px;
		width: 20px;
		background-image: url(searchlogo.png);
		background-position: center;
		background-repeat: no-repeat;
		border-width: 0px;
		background-color: transparent;
		height: 20px;
	}
	.logosearch:hover {
		background-image: url(searchlogoh.png);
	}
	.searchtit {
		float: left;
		border-color: #DBDBDB;
		border-width: 1px;
		border-style: solid;
		border-left-width: 0px;
		color: #9d9d9d;
		height: 25px;
		width: 120px;
		font-size: 14px;
		padding-right: 1.8em;
		padding-left: 0.4em;
	}
	.searchtit:hover {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	.fillline {
		margin-top: 30px;
		margin-bottom: 90px;
		margin-left: 0px;
		width: 1000px;
	}
	input.demand {
		border-color: #DBDBDB;
		border-style: solid;
		border-width: 1px;
		height: 30px;
		width: 300px;
		margin: 0px;
		padding-left: 5px;
		font-size: 14px;
		line-height: 14px;
		color: #9d9d9d;
		float: left;
	}
	.demand:active,.demand:focus {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	input.leftdemand {
		margin-right: 28px;
	}
	.linef {
		float: left;
		display: block;
		width: 900px;
	}
	.all {
		background-color: #F4F9FE;
		border-color: #e5eff8;
		color: #66a3d3;
		float: left;
		width: 100px;
		height: 40px;
		margin-right: 10px;
		margin-top: 10px;
		border-style: solid;
		border-width: 1px;
		font-size: 16px;
	}
	.all {
		background-color: #F9FCFE;
	}
	.filter {
		margin-top: 10px;
		float: left;
		color: #678197;
		padding: 0.5em 0.5em 0.5em 0.5em;
		background-color: #F4F9FE;
		border-radius: 5px;
	}
	.filsup {
		list-style: none;
		margin: 0px;
		padding: 0px;
		float: left;
	}
	.mid {
		display: block;
		width: 80px;
		height: 25px;
		float: left;
		text-align: center;
		line-height: 25px;
		font-size: 14px;
		background-color: #F9FCFE;
		border-width: 1px;
		border-color: #E5EFF8;
		border-style: solid;
		border-radius: 5px;
		margin-right: 10px;
	}
	.al {
		width: 25px;
		height: 25px;
		background-image: url(aleft.png);
		float: left;
		margin-right: 10px;
	}
	.al:hover {
		background-image: url(alefth.png);
	}
	.ar {
		width: 25px;
		height: 25px;
		background-image: url(aright.png);
		float: left;
	}
	.ar:hover {
		background-image: url(arighth.png);
	}
	.filinput {
		color: #678197;
		width: 80px;
		height: 30px;
		border-style: none;
		font-size: 14px;
		text-align: center;
	}
	.filinput:active,.filinput:focus {
		width: 80px;
		height: 28px;
		border-style: solid;
		border-color: #efefef;
		box-shadow: 0px 0px 1px 0px rgb(84, 179, 255);
		border-width: 1px;
		font-size: 14px;
		text-align: center;
		font-size: 14px;
	}
	.tableview {
		float: left;
	}
	.upData {
		border-top: 1px solid #e5eff8;
		border-right: 1px solid #e5eff8;
		margin: 20px auto;
		border-collapse: collapse;
	}
	.lineone {
		background-color: #F4F9FE;
	}
	.lineone th {
		border-color: #E5EFF8;
		border-style: solid;
		border-width: 1px;
		color: #66A3D3;
		padding-bottom: 0.3em;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.3em;
		text-align: center;
		font-size: 1.2em;
		font-family: Arial;
		font-weight: normal;
		line-height: 1.5em;
	}
	.norline th {
		color: #678197;
		border-color: #E5EFF8;
		border-style: solid;
		border-width: 1px;
		padding-bottom: 0.3em;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 0.3em;
		text-align: center;
		font-weight: normal;
		font-size: 0.9em;
	}
	.nerline th {
		color: #678197;
		border-color: #E5EFF8;
		border-style: solid;
		border-width: 1px;
		padding-bottom: 0.3em;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 0.3em;
		text-align: center;
		font-weight: normal;
		font-size: 0.9em;
		background-color: #F4F9FE;
	}
	.firstc {
		background-color: #F9FCFE;
	}
	.botbts {
		width: auto;
		height: 40px;
		float: left;
		margin-top: 20px;
	}
	input.btsave {
		float: left;
		margin-right: 20px;
	}
	input.btsend {
		float: left;
		margin-right: 20px;
	}
	input.btdownload {
		float: left;
		margin-right: 20px;
	}
	input.btcancel {
		float: left;
		margin-left: 470px;
		margin-right: 20px;
		width: 76px;
		height: 32px;
		border-width: 0px;
		background-color: transparent;
		background-image: url(btncbg.png);
		background-repeat: no-repeat;
		font-size: 18px;
		color: #9d9d9d;
	}
	input.btcancel:hover {
		background-image: url(btnchov.png);
		color: #7c7c7c;
	}
}