@charset "UTF-8";
/* CSS Document */
/*Another version*/
body p {
	margin: 0px;
	padding: 0px;
}

@media screen and (min-width:800px) {
	.trackline {
		margin-top: 40px;
		margin-bottom: 20px;
		margin-left: 250px;
		width: 800px;
	}
	.bttrack {
		background-color: #1297cf;
		width: 76px;
		height: 34px;
		border-width: 0px;
		font-size: 18px;
		color: #ffffff;
	}
	.bttrack:hover {
		background-color: #0e80b0;
	}
	input.trackfile {
		border-color: #DBDBDB;
		border-style: solid;
		border-width: 1px;
		height: 30px;
		width: 300px;
		margin: 0px;
		padding-left: 5px;
		font-size: 14px;
		line-height: 14px;
		color: #9d9d9d;
		float: left;
		margin: 0px
	}
	.trackfile:active,.trackfile:focus {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	.ensureupload {
		float: left;
		width: 360px;
		text-align: left;
		height: 22px;
		line-height: 22px;
		background-color: transparent;
		background-image: url(uploadpic.png);
		background-position: left;
		background-repeat: no-repeat;
		padding-left: 20px;
		color: #0063de;
		font-size: 14px;
		border-width: 0px;
		margin-left: 3px;
		width: 360px;
	}
	.ensureupload:hover {
		color: #4a248a;
		background-image: url(uploadpich.png);
	}
	.picsupload {
		width: 100px;
		height: 100px;
		background-image: url(complaintpic.png);
		background-color: #efefef;
		border: 1px solid #dbdbdb;
		float: left;
		margin: 10px 20px 10px 0px;
	}
	.picname {
		width: 84px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		position: relative;
		top: 80px;
		left: -1px;
		background-color: #000000;
		color: #ffffff;
		padding-left: 3px;
		padding-right: 15px;
	}
	.mabt {
		margin-left: 327px;
	}
	.complaintlines {
		margin-top: 30px;
		margin-left: 70px;
	}
	.complainl {
		float: left;
		width: 830px;
		padding-bottom: 10px;
	}
	.abstractinfo {
		float: left;
		width: 778px;
	}
	.abstractcontent {
		float: left;
		width: 100%;
		padding: 5px 5px 5px 0px;
		border-bottom: 1px solid #dbdbdb;
	}
	.bottoms {
		width: 93%;
		margin-left: 60px;
	}
	.detailedcontent {
		float: left;
		width: 100%;
		margin-top: 20px;
	}
	.addingcontent {
		width: 100%;
		float: left;
	}
	.complaintpic {
		float: left;
		background-image: url(abstractpic.png);
		width: 50px;
		height: 50px;
		border: 1px solid #dbdbdb;
	}
	.detailedcontent p {
		padding: 0px;
		float: left;
		font-size: 14px;
	}
	.reply {
		font-size: 14px;
		width: 98%;
		height: 50px;
		border: 1px solid #dbdbdb;
		padding: 5px 3px 3px 5px;
		color: #9d9d9d;
		margin: 5px 5px 5px 0px;
		float: left;
	}
	.keywords {
		padding: 0.1em 0.2em;
		margin-right: 10px;
		margin-left: 10px;
		border: 1px solid #f2f2f2;
		color: #75a7dd;
		background-color: #f9f9f9;
		float: left;
		font-size: 16px;
	}
	.lefttit{
	width:585px;
	float:left;
	}
	.title {
		padding: 0.1em 0.2em;
		margin-top: 1px;
		margin-bottom: 1px;
		float: left;
		font-size: 16px;
		float: left;
	}
	.company {
		margin-top: 1px;
		margin-bottom: 1px;
		padding: 0.1em 0.2em;
		float: left;
		font-size: 16px;
		width: 186px;
		text-align: right;
	}
	.complaintdate {
		margin-top: 10px;
		margin-left: 10px;
		color: #9d9d9d;
		float: left;
		font-size: 12px;
		float: left;
	}
	.Moredetails {
		float: left;
		padding-top: 0.3em;
		margin-left: 583px;
	}
	.detailink {
		color: #0063de;
		font-size: 16px;
	}
	.detailink:hover {
		text-decoration: underline;
	}
	.detailink:active,.detailink:focus {
		color: #4a248a;
	}
	.ordernmb {
		float: left;
		width:458px;
	}
	.senddate {
		float: left;
		margin-right: 40px;
		color: #7c7c7c;
	}
	.receivedate {
		float: left;
		color: #7c7c7c;
	}
	.toparea {
		height: 20px;
		margin-bottom: 5px;
	}
	.selects {
		height:20px;
		width:150px;
		float:left;
		margin-right:50px;
	}
	.filterline{
		float:left;
		width:900px;
		margin-left:70px;
		margin-bottom:20px;
	}
   .statuspic{
   		margin-top:5px;
   }
}
/*different media*/
@media screen and (max-width: 800px) {
	.trackline {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 150px;
		width: 500px;
	}
	.bttrack {
		background-color: #1297cf;
		width: 76px;
		height: 34px;
		border-width: 0px;
		font-size: 18px;
		color: #ffffff;
	}
	.bttrack:hover {
		background-color: #0e80b0;
	}
	input.trackfile {
		border-color: #DBDBDB;
		border-style: solid;
		border-width: 1px;
		height: 30px;
		width: 300px;
		margin: 0px;
		padding-left: 5px;
		font-size: 14px;
		line-height: 14px;
		color: #9d9d9d;
		float: left;
		margin: 0px
	}
	.trackfile:active,.trackfile:focus {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	.ensureupload {
		float: left;
		width: 340px;
		text-align: left;
		height: 22px;
		line-height: 22px;
		background-color: transparent;
		background-image: url(uploadpic.png);
		background-position: left;
		background-repeat: no-repeat;
		padding-left: 20px;
		color: #0063de;
		font-size: 14px;
		border-width: 0px;
		margin-left: 3px;
	}
	.ensureupload:hover {
		color: #4a248a;
		background-image: url(uploadpich.png);
	}
	.picsupload {
		width: 100px;
		height: 100px;
		background-image: url(complaintpic.png);
		background-color: #efefef;
		border: 1px solid #dbdbdb;
		float: left;
		margin: 5px 5px 0px 5px;
	}
	.picname {
		width: 84px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		position: relative;
		top: 80px;
		left: -1px;
		background-color: #000000;
		color: #ffffff;
		padding-left: 3px;
		padding-right: 15px;
	}
	.mabt {
		margin-left: 156px;
	}
	.complaintlines {
		margin-top: 30px;
		margin-left: 0px;
	}
	.complainl {
		float: left;
		width: 670px;
		padding-bottom: 10px;
	}
	.abstractinfo {
		float: left;
		width: 618px;
	}
	.abstractcontent {
		float: left;
		width: 100%;
		padding: 5px 5px 5px 0px;
		border-bottom: 1px solid #dbdbdb;
	}
	.bottoms {
		width: 90%;
		margin-left: 60px;
	}
	.detailedcontent {
		float: left;
		width: 100%;
		margin-top: 20px;
	}
	.addingcontent {
		width: 100%;
		float: left;
	}
	.complaintpic {
		float: left;
		background-image: url(abstractpic.png);
		width: 50px;
		height: 50px;
		border: 1px solid #dbdbdb;
	}
	.detailedcontent p {
		padding: 0px;
		float: left;
		font-size: 14px;
	}
	.reply {
		font-size: 14px;
		width: 97%;
		height: 50px;
		border: 1px solid #dbdbdb;
		padding: 5px 3px 3px 5px;
		color: #9d9d9d;
		margin: 5px 5px 5px 0px;
		float: left;
	}
	.keywords {
		padding: 0.1em 0.2em;
		margin-right: 10px;
		margin-left: 10px;
		border: 1px solid #f2f2f2;
		color: #75a7dd;
		background-color: #f9f9f9;
		float: left;
		font-size: 16px;
	}
	.title {
		padding: 0.1em 0.2em;
		margin-right: 5px;
		margin-top: 1px;
		margin-bottom: 1px;
		float: left;
		font-size: 16px;
		float: left;
	}
	.company {
		margin-top: 1px;
		margin-bottom: 1px;
		padding: 0.1em 0.2em;
		float: left;
		font-size: 16px;
		width: 186px;
		text-align: right;
	}
	.complaintdate {
		margin-top: 10px;
		margin-left: 10px;
		color: #9d9d9d;
		float: left;
		font-size: 12px;
		float: left;
	}
	.Moredetails {
		float: left;
		padding-top: 0.3em;
		margin-left: 423px;
	}
	.detailink {
		color: #0063de;
		font-size: 16px;
	}
	.detailink:hover {
		text-decoration: underline;
	}
	.detailink:active,.detailink:focus {
		color: #4a248a;
	}
	.ordernmb {
		float: left;
		margin-right: 114px;
	}
	.senddate {
		float: left;
		margin-right: 40px;
		color: #7c7c7c;
	}
	.receivedate {
		float: left;
		color: #7c7c7c;
	}
	.toparea {
		height: 20px;
		margin-bottom: 5px;
	}
	.selects {
		height:20px;
		width:150px;
		float:left;
		margin-right:50px;
	}
	.filterline{
		float:left;
		width:650px;
		margin-left:0px;
		margin-bottom:20px;
	}
	 .statuspic{
   		margin-top:5px;
   		float:left;
   }
   .lefttit{
	width:425px;
	float:left;
	}
}