@charset "UTF-8";
/* CSS Document */
body {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}
h2{
	color:#9D9D9D;
}
/*Another version*/
.wrapcontent {
	width: 1000px;
	float: left;
	margin-left: 30px;
	padding-bottom: 80px;
}
.headicon {
	background-image: url(headicon.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	border-width: 0px;
	width: 120px;
	height: 120px;
	width: 120px;
	border-width: 0px;
}
.customericon {
	background-image: url(customer.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	border-width: 0px;
	width: 120px;
	height: 120px;
}
.customericon:hover {
	background-image: url(customerp.png);
}
.suppliericon {
	background-image: url(supplier.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	border-width: 0px;
	width: 120px;
	height: 120px;
}
.suppliericon:hover {
	background-image: url(supplierp.png);
}
.lefticons {
	position: fixed;
	width: 118px;
	height: 1200px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	background-color: #1297cf;
	color: #1297cf;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #0e80b0;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #0e80b0;
	margin-left: 0px;
	z-index: 99;
}
.licon {
	margin-top: -16px;
	border-width: 1px;
	border-style: solid;
	border-color: #0e80b0;
	border-left-width: 0px;
	border-top-width: 0px;
	width: 118px;
	height: 120px;
	padding-bottom: 0px;
	background-color: #1297cf;
}
.licon:hover {
	background-color: #0e80b0;
}
.sup {
	border-top-width: 0px;
}
.fixedtop {
	width: 1024px;
	height: 40px;
}
.greeting {

	    background-image:url("img/arrow-down.png");
	    background-repeat:no-repeat;
	    background-position:right center;
	    cursor:default;
		display: block;

		color: #9D9D9D;
	   padding-left:5px;
	   padding-right:11px;

}
.content {
	float: left;
	padding-top: 45px;
	padding-left: 150px;
}
input.bt {
	width: 30px;
	height: 30px;
	background-color: transparent;
	background-repeat: no-repeat;
	border-width: 0px;
	float: left;
	margin-top: 10px;
}
input.iconhome {
	background-image: url(homeicon.png);
}
input.iconback {
	background-image: url(backicon.png);
}
input.gbtn {
	width: 76px;
	height: 32px;
	border-width: 0px;
	background-color: transparent;
	background-image: url(btnbg.png);
	background-repeat: no-repeat;
	font-size: 14px;
	color: #ffffff;
}
input.gbtn:hover {
	background-image: url(btnhov.png);
}
.subicons {
	position: fixed;
	z-index: 5;
	padding-left: 120px;
	top: 0px;
	background-color: #eaedec;
	color: #9d9d9d;
	font-size: 14px;
	font-size: 14px;
	width: 100%;
	height: 40px;
}
ul.subs {
    cursor:default;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 5px;
	height: 40px;
	line-height: 30px;
	list-style: none;
	margin-top: 0px;
}
.pull-left{
		float: left;
}
.pull-right{
		float: right;
}
.subs li {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	display: block
}

.subs li:hover dl > dt, .subs li:hover dl > dd {
	display: block;

}
.subs li > dl{
	position: absolute;
	background-color: #EAEDEC;
	margin: 0px -10px;
}
.subs li > dl > dt {
	display: none;
	padding-left: 5px;
	
	font-weight: bold;
}
.subs li > dl > dd {
	display: none;
	margin: 0px;
    padding-left: 15px;
    padding-right:15px;
}

.subs dd:hover {
	background-color: #dbdbdb;
}
.subs img {
	vertical-align: middle;
}
.subs a {
	text-decoration: none;
	color: #9D9D9D;
}

/*     dialog--css*/
#dialog-overlay {
	display: none;
	background: #aaaaaa/*{bgColorOverlay}*/50%/*{bgOverlayXPos}*/50%/*{bgOverlayYPos}*/repeat-x/*{bgOverlayRepeat}*/;
	opacity: .3;
	filter: Alpha(Opacity=30)/*{opacityOverlay}*/;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#handle-dialog-modal {
	position: absolute;
	top: 40%;
	left: 40%;
	width: 300px;
	overflow: hidden;
	display: none;
	z-index: 1;
}
#handle-dialog-modal .handle-dialog-modal-content {
	background: #ffffff;
	height: 150px;
}
#handle-dialog-modal .handle-dialog-modal-content p {
	padding: 40px 0px 0px 60px;
}
/*pager*/

.pagination {
	margin: 20px 0;
}

.pagination ul {
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*zoom: 1;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
	display: inline;
}

.pagination ul > li > a, .pagination ul > li > span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-left-width: 0;
}

.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
	background-color: #f5f5f5;
}

.pagination ul > .active > a, .pagination ul > .active > span {
	color: #999999;
	cursor: default;
}

.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover {
	color: #999999;
	cursor: default;
	background-color: transparent;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}
/**************************************************      home      */
.welcomecontent {
	width: auto;
	min-width: 1100px;
	float: left;
	margin-left: -60px;
	margin-top: 15px;
}
h3 {
	font-size: 32px;
	color: #999999;
	font-weight: bold;
	float: left;
	width: 100%;
	margin-left: 50px;
}
.features {
	float: left;
	width: 500px;
	margin-top: 30px;
}

.feature {
	padding: 3px;
	margin-left: 50px;
	font-size: 16px;
	color: #666666;
}
.featurespic {
	background-image: url(welcome/featurebg.png);
	width: 380px;
	height: 230px;
	background-position: center top;
	float: left;
}
.faturescontent {
	margin-top: 30px;
	width: 150%;
	border-top: 1px solid #dddddd;
	float: left;
	height: 250px;
	background-color: #efefef;
	padding-left: 100px;
}
div #f3 {
	background-image: url(welcome/f3.png);
}
.featureshow {
	width: 200px;
	height: 160px;
	background-repeat: no-repeat;
}
.feature-detail {
	width: 300px;
	height: 240px;
	float: left;
	padding-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
.feature-detail p {
	font-size: 16px;
	color: #666666;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 50px;
}
div #f1 {
	background-image: url(welcome/f1.png);
}

div #f2 {
	background-image: url(welcome/f2.png);
}

a {
	color:#9D9D9D;
}
/**************************************************      redis search      */
.ui-helper-hidden-accessible {
	display: none
}
.ui-autocomplete {
	position: absolute;
	text-align: left;
	list-style: none outside none;
	padding-left: 0px;
	background: none repeat scroll 0% 0% rgb(248, 248, 248);
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.ui-menu-item {
	margin: 0px;
	padding: 5px 7px;
	display: block;
	font: menu;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	color: #999;
	line-height: 16px;
	overflow: hidden;
}
/**************button****************************/
.btupload {
	background-color: #1297cf;
	width: 76px;
	height: 34px;
	border-width: 0px;
	font-size: 18px;
	color: #ffffff;
	cursor:pointer;
    vertical-align:bottom;
    margin-left:1px;
}
.btupload:hover {
	background-color: #0e80b0;
}

.botbts {
	width: 110px;
	right: 0px;
	/*     height: 480px;*/
	position: fixed;
	bottom: 20px;
	margin-top: 20px;
	text-align: center;
	background-color: #efefef;
}
.botbtn {
	float: left;
	width: 85px;
	height: 85px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	margin: 20px 10px 10px 10px;
	background-color: #efefef;
}
.botbtn:hover {
	background-color: #dbdbdb;
	border-color: #c2c2c2;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
}
.botbtn p {
	font-size: 14px;
	margin-top: 60px;
	color: #696d72;
}
.btsave {
	background-image: url(save.png);
	background-repeat: no-repeat;
	background-position: center 8px;
}
.btdownload {
	background-image: url(download.png);
	background-repeat: no-repeat;
	background-position: center 8px;
}
.btcancel {
	background-image: url(cancel.png);
	background-repeat: no-repeat;
	background-position: center 8px;
}
.btsend {
	background-image: url(send.png);
	background-repeat: no-repeat;
	background-position: center 8px;
}
.bttransform {
	background-image: url(swirl.png);
	background-repeat: no-repeat;
	background-position: center 8px;
}

.btprintdn {
	background-image: url(deliver-printer.png);
	background-repeat: no-repeat;
	background-position: center 8px;
}

.btprintdnbox {
	background-image: url(box-printer.png);
	background-repeat: no-repeat;
	background-position: center 8px;
}

.btprintdnboxlist {
	background-image: url(list-printer.png);
	background-repeat: no-repeat;
	background-position: center 8px;
}

/*----------block*/
.abstractblock {
	padding: 3px 10px 3px 10px;
	width: 720px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	/*     float: left;*/
	margin-top: 30px;
}

.uploadline {
	margin-top: 30px;
	margin-bottom: 50px;
}

.uploadfile {
	height: 30px;
	width: 300px;
	margin: 0px;
	padding-left: 5px;
	font-size: 18px;
	color: #9d9d9d;
	margin: 0px
}
input.uploadfile {
	border-color: #DBDBDB;
	border-style: solid;
	border-width: 1px;
	height: 30px;
	width: 300px;
	margin: 0px;
	padding-left: 5px;
	font-size: 14px;
	line-height: 14px;
	color: #9d9d9d;
	float: left;
	margin: 0px
}
.uploadfile:active, .uploadfile:focus {
	border-color: #b1b1b1;
	color: #7c7c7c;
}

.info-box {
	width: 350px;
	height: 150px;
	background-color: #EFEFEF;
	-moz-border-radius: 10px;
	position: absolute;
	margin-left: 20%;
	margin-top: 10%;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #1297CF;
	cursor: pointer;
	-webkit-box-shadow: 0 0 10px #1297CF;
	-moz-box-shadow: 0 0 10px #1297CF;
	padding: 10px;
	display: none;
}
.info-box .info-box-title {
	font-size: 16px;
	color: #1297CF;
	text-align: center;
	height: 30px;
	margin-top: 15px;
	font-weight: bold;
}

.info-box .info-box-body{
	font-size: 15px; 
	text-align: center;
	 margin-top: 8px;
}
.info-box .info-box-body span{
	  color: #7C7C7C;
}
.info-box .info-box-body input[type=text]{
	width: 60px;height: 25px;font-size: 17px; font-weight: bold;color: #1297CF;border: 1px solid #DBDBDB;
}
.info-box .info-box-body input[type=button]{
	margin-top: 17px; width: 75px;
}
.inspect-input-box{
	width: 400px;
	height:330px;	
}
.inspect-input-box .info-box-body{
	text-align:left;
}
.inspect-input-box .info-box-body span{
	margin-left: 40px;
	margin-top: 3px;
	padding-bottom:2px;
	display:block;
	border-bottom: 1px solid #DBDBDB;
	text-align:left;
	vertical-align: top;
}
.inspect-input-box .info-box-body #check-desc-input{
	height:150px;
	width: 200px;
	 resize: none; 
	 border: 1px solid #DBDBDB;
	 color: #1297CF;
	 font-weight: bold;
}
.inspect-input-box .info-box-body select{
	width: 100px;
	font-size: 15px; font-weight: bold;color: #1297CF;
}
.inspect-input-box .info-box-body input[type=button]{
	margin-left:40%;
}


/**************message--box****************************/
	.message-box{	
		font-size:17px;
		position:fixed;
		z-index: 5;
		display:none;
		background-color:rgb(234, 237, 236);
		margin:auto;
		left:0;
		right:0;
		top:200px;
		width:480px;
		border-radius:5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		box-shadow:2px 2px 10px #999;
		-moz-box-shawdow:2px 2px 10px #999;
		-webkit-box-shawdow:2px 2px 10px #999;
	}
		.message-box p{
			padding:8px 10px 10px;
			font-size:15px;
				color:#363636;
		}
	.bg-grey{
		background-color:#E1E1E1;
		
		height:36px;
	}
.bg-grey div{
    float:left;
	color:#9d9d9d;
	font-size:18px;
	display:inline-block;
	margin:6px 8px;
}
.bg-grey .close-logo{	
		width:20px;
		height:20px;
	   float:right;
	  margin-top:10px;
	  filter:alpha(opacity=100);
	  -moz-opacity:1;
       background:url(closeiconB.png);
       background-position:center;
       background-repeat:no-repeat;
	}
	.close-logo:hover{
		background-image:url(closeicon.png);
	}


/**************button****************************/
    .check-print{
    	background-image:url("img/check-print.png");
    	background-position:center 40%;
    	background-repeat:no-repeat;
    }
    .enter-print{
    	background-image:url("img/enter-print.png");
    	background-position:center 40%;
    	background-repeat:no-repeat;
    }
    .normal-small-btn{
    	border:2px solid #1297CF;
    	background-color:#1297CF;
    	color:white;
    	font-family:"微软雅黑";
    	cursor:pointer;
    }
    .normal-small-btn:hover{
    	border:2px solid #0e80b0;
    	background-color:#0e80b0;
    	color:white;
    }
     #check-all{
        	border:2px solid #1297CF;
    	background-color:#1297CF;
    	color:white;
    	font-family:"微软雅黑";
    	cursor:pointer;
    }
    
    #check-all:hover{
    	border:2px solid #0e80b0;
    	background-color:#0e80b0;
    	color:white;
    }
  
/**************progress--bar****************************/
 
       .progress-bar {
    	position:relative;
    	list-style: none;
    	display:block;
       top:10px;
       left:-30px;
    	margin-bottom:85px;
    	font-size:14px;
    	color:#9D9D9D;
    	border-collapse:collapse;
    	width:780px;
    }

    .progress-bar li{
    	padding-left:30px;
         
        height: 30px;
        border:1px solid #C2C2C2;
        width: 85px;
    	-webkit-transform:skew(-25deg);
    	-moz-transform:skew(-25deg);
    	-o-transform:skew(-25deg);
        float:left
    }
 
    .progress-bar li p{
    	cursor:default;
    	-webkit-transform:skew(25deg);
    	-moz-transform:skew(25deg);
    	-o-transform:skew(25deg);
    	position:relative;
    	top:-10px;
    }
    .progress-bar-choosen{
    	background-color:#1297CF;
    	color:white;
    }
    .abandon-btn{
    position:absolute;
    top:75px;
    left:870px;

}
/**************************************************     staff     */
.current-user{
	width:400px;
	margin-left:35px;
}
.current-user h1{
	color:#9d9d9d;
	font-size:24px;
	margin-top:27px;	
}
.user-info-detail{
	font-size:18px;
	padding:10px 10px 15px;
	border-radius:5px;
	box-shadow:2px 2px 2px #ccc ;
	color:#9d9d9d;
	margin-left:20px;
	margin-bottom:20px;
	border:1px solid #CCC;
}
.info-in-line{
	margin-top:5px;
	margin-bottom:10px;
}
.change-password{
	margin-left:270px;
}

.input-text-style:hover{
   border-bottom:2px solid #eaedec;
    border-left:2px solid #eaedec;
     border-right:2px solid #eaedec;
      border-top:2px solid #DDD;
}

.edit_btn{
	background-image:url("edit.png");
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	border:1px solid #DDD;
	width:23px;
	height:23px;
}
.del_btn{
    background-image:url("del.png");
	background-position:center center;
	background-repeat:no-repeat;
	border:1px solid #DDD;
	width:23px;
	height:23px;
	margin-left:10px;
}
.edit_btn:hover{
	box-shadow:-1px -1px 3px #a4e5ff;
	-webkit-box-shadow:-1px -1px 3px #a4e5ff;
	-moz-box-shadow:-1px -1px 3px #a4e5ff;
}
.del_btn:hover{
	box-shadow:-1px -1px 3px #a4e5ff;
	-webkit-box-shadow:-1px -1px 3px #a4e5ff;
	-moz-box-shadow:-1px -1px 3px #a4e5ff;
}
/**************************************************    chech-strategy-message    */
.no-part{
	position:fixed;
	top:240px;
	left:480px;
	text-align:center;
	border:1px solid #eaedec;
	box-shadow:4px 4px 5px #9d9d9d;
	-webkit-box-shadow:2px 2px 2px #9d9d9d;
	color:#9d9d9d;
   
	width:300px;
	height:150px;
}
.no-part p{
	margin-top:60px;
	font-size:25px;
	font-family:"微软雅黑";
	
}
/**************************************************     cf    */
.drop-sign{
	cursor:pointer;
	width:268px;
	height:20px;
	background-image:url("drop-sign.png");
	background-position:center;
	background-repeat:no-repeat;
	margin-left:5px;
}
.cf-up-sign{
	width:30px;
	height:30px;
	background-image:url("cf-up-sign.png");
	background-position:center;
	background-repeat:no-repeat;
	float:left;
	margin-top:10px;
	margin-left:10px;
	cursor:pointer;
	border:1px solid #eaedec;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.fix-cfbar-position{
	position:fixed;
	left:860px;
	top:40px;
}
.cf-btn-first{
	margin-left:107px;
	margin-top:15px;
	margin-right:5px
}
.cf-drawing{
	position:fixed;
	top:155px;
	width:640px;
	height:340px;
	background-color:rgba(0,0,0,0);
	border:2px solid #eaedec;
	border-radius:5px;
	box-shadow:0px 0px 10px #9d9d9d inset; 
	-webkit-box-shadow:0px 0px 10px #9d9d9d inset;
	
	word-break:break-all;
	word-wrap:break-word;
}
.cf-put-drawing{
	width:600px;
	height:300px;

	margin-left:20px;
	margin-top:20px;
}
.cf-h3{
	  color: #9d9d9d;
    float: left;
    font-size: 26px;
    font-weight: bold;
   margin-left:-2px;
   margin-top:55px
}
.cf-drawing h1{
	color:#9d9d9d;
	text-align:center;
	margin-top:120px;
}
.cf-bar{
   display:none;
	border-bottom:4px solid #EAEDEC;
    border-left:4px solid #EAEDEC;
    border-right:4px solid #EAEDEC;
	border-radius:0px 0px 10px 10px;
	padding:23px 8px 10px;	
	background-color:#ffffff;
	color:#9d9d9d
}
.cf-bar > div {
	position:relative;
}
.cf-searchtype-border{
	background-color:#1297cf !important;
	color:white !important;
	border:#1297cf !important;
}
.cf-box{
  background-color: #FFFFFF;
  border-top: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
    font-size: 14px;
    width: 252px;}
.cf-box-last{
    border-bottom:1px solid #dbdbdb;
    border-radius:0px 0px 10px 10px;	
    }
    .cf-contenttype{
    	 background-color: #EAEDEC;
    border-bottom: 1px solid #DBDBDB;
    color: #9d9d9d;
    float: left;
    font-size: 14px;
    padding: 3px;
    width: 246px;
    cursor:default;
    }
