@charset "UTF-8";
/* CSS Document */

/*Another version*/
	#searchline {
		width: 1000px;
		margin-top: 20px;
		float: left;
	}
	.searchsupp {
		float: left;
		padding-right: 5px;
		border-width: 1px;
		border-style: solid;
		border-color: #dbdbdb;
		color: #9d9d9d;
		width: 727px;
		height: 30px;
		font-size: 14px;
		padding-left: 5px;
	}
	.searchsupp:active,.searchsupp:focus {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	.logosearchv {
		float: left;
		margin-left: 10px;
		margin-top: 0px;
	}
	.supplierlist {
		float: left;
		width: 1000px;
		margin-top: 30px;
		margin-bottom: 30px;
		border-top-style: double;
		border-top-color: #dbdbdb;
	}
	.supplierinfo {
		height: 80px;
		width: 1000px;
		float: left;
		display: block;
		border-bottom-width: 1px;
		border-bottom-color: #dbdbdb;
		border-bottom-style: solid;
	}
	.supplierinfo:hover {
		background-color: #f8f8f8;
	}
	.supplierinfo img {
		float: left;
		margin: 5px 5px 5px 5px;
		border-width: 1px;
		border-color: #dbdbdb;
		border-style: solid;
	}
	.supplierinfo p {
		float: left;
		display: block;
		padding: 0px;
	}
	.normalstyle {
		text-decoration: none;
		color: #000000;
		display: block;
	}
	.normalstyle:hover {
		color: #4a248a;
		text-decoration: underline;
	}
	.namestyle {
		text-decoration: none;
		color: #0063de;
		display: block;
	}
	.namestyle:hover {
		color: #4a248a;
	}
	.suppname {
		margin: 3px 10px 0px 10px;
		font-size: 18px;
	}
	.address {
          margin: 3px 10px 0px 10px;
          font-size: 13px;
	}
	.products {
		float: left;
		margin: 3px 10px 0px 10px;
		width: 500px;
		font-size: 13px;
	}
	.contacts {
		float: left;
		width: 500px;
		font-size: 13px;
		margin: 3px 10px 0px 10px;
	}
	.hovbtns {
		float: left;
		margin-left: 250px;
		margin-top: -3px;
	}
	.hovbt {
		float: left;
		width: 25px;
		height: 25px;
		margin: 0px 5px;
		background-color: #1297cf;
		border-style: none;
	}
	.hovbt:hover {
		background-color: #0e80b0;
	}

/*different media*/
/*@media screen and (max-width: 800px) {
	#searchline {
		width: 700px;
		margin-top: 20px;
		float: left;
	}
	.searchsupp {
		float: left;
		padding-right: 5px;
		border-width: 1px;
		border-style: solid;
		border-color: #dbdbdb;
		color: #9d9d9d;
		width: 567px;
		height: 30px;
		font-size: 14px;
		padding-left: 5px;
	}
	.searchsupp:active,.searchsupp:focus {
		border-color: #b1b1b1;
		color: #7c7c7c;
	}
	.logosearchv {
		float: left;
		margin-left: 10px;
		margin-top: 0px;
	}
	.supplierlist {
		float: left;
		width: 700px;
		margin-top: 30px;
		margin-bottom: 30px;
		border-top-style: double;
		border-top-color: #dbdbdb;
		border-top-style: double;
	}
	.supplierinfo {
		height: 80px;
		width: 700px;
		float: left;
		display: block;
		border-bottom-width: 1px;
		border-bottom-color: #dbdbdb;
		border-bottom-style: solid;
	}
	.supplierinfo:hover {
		background-color: #f8f8f8;
	}
	.supplierinfo img {
		float: left;
		margin: 5px 5px 5px 5px;
		border: 1px solid #dbdbdb;
	}
	.supplierinfo p {
		float: left;
		display: block;
		padding: 0px;
	}
.normalstyle {
		text-decoration: none;
		color: #000000;
		display: block;
	}
	.normalstyle:hover {
		color: #4a248a;
		text-decoration: underline;
	}
	.namestyle {
		text-decoration: none;
		color: #0063de;
		display: block;
	}
	.namestyle:hover {
		color: #4a248a;
	}
	.suppname {
		margin: 10px 10px 0px 10px;
		font-size: 18px;
	}
	.address {
		margin: 10px 10px 0px 10px;
		width: 80px;
		text-align: left;
		float: left;
		font-size: 18px;
	}
	.products {
		float: left;
		margin: 3px 10px 0px 10px;
		width: 400px;
		font-size: 14px;
	}
	.contacts {
		float: left;
		width: 400px;
		font-size: 14px;
		margin: 3px 10px 0px 10px;
	}
	.hovbtns {
		float: left;
		margin-left: 70px;
		margin-top: -3px;
	}
	.hovbt {
		float: left;
		width: 25px;
		height: 25px;
		margin: 0px 5px;
		background-color: #1297cf;
		border-style: none;
	}
	.hovbt:hover {
		background-color: #0e80b0;
	}
}*/
