@charset "UTF-8";
/* CSS Document */

/*small screen*/
@media screen and (max-width: 800px) {
}

/*big screen*/
@media screen and (min-width:800px) {
	.waybillstatus {
		width: 50px;
		height: 25px;
		border: 1px solid #efefef;
		float: left;
		margin: 8px 5px 0px 5px;
		background-color: transparent;
		font-size: 14px;
		border-radius:15px;
	}
	.waybillstatus:hover {
		background-color: #efefef;
	}
	.rightstatus {
		margin-right: 10px;
	}
	.instransit {
		color: #1297cf;
	}
	.received {
		color: #44a730;
	}
	.returned {
		color: #ff000c;
	}
	.checked {
		background-color: #efefef;
	}
	.abnorm{
		background-image:url(abnormbg.png);
	}
	.hoverable:hover{
		background-color:#efefef;
	}
}