@charset "UTF-8";
/* CSS Document */

/*small screen*/
/*@media screen and (max-width: 800px) {
}*/

/*big screen*/
	.tableview {
		float: left;
	}
	.upData {
		float: left;
		margin: auto;
		border-collapse: collapse;
	}
	.lineone {
		border-bottom: 1px solid #a8a8a8;
	}
	.divide {
		height: 3px;
	}
	.nordvd {
		border-right: 5px solid #ffffff;
	}
	.lastdvd {
		border-left: 5px solid #ffffff;
	}
	.lineone th {
		color: #7c7c7c;
		padding-bottom: 0.3em;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.3em;
		text-align: center;
		font-size: 0.9em;
		font-family: Arial;
		font-weight: normal;
		line-height: 1.5em;
	}
	.filetag {
		border-color: #ffffff;
	}
	.indication {
		float: left;
		background-color: #dbdbdb;
		color: #9d9d9d;
		font-size: 14px;
		border-radius: 3px;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		width: 120px;
	}
	.norline th {
		color: #9d9d9d;
		padding-bottom: 0.3em;
		padding-left: 1em;
		padding-right: 1em;
		margin-left: 0.3em;
		margin-right: 0.3em;
		padding-top: 0.3em;
		text-align: center;
		font-weight: normal;
		font-size: 0.9em;
		padding-right: 1em;
		margin-left: 0.3em;
		margin-right: 0.3em;
		padding-top: 0.3em;
		text-align: center;
		font-weight: normal;
		font-size: 0.9em;
		border-bottom: 1px dashed #a8a8a8;
	}
	.forcasttypes {
		width: 740px;
		height: auto;
		float: left;
		margin-bottom: 20px;
		margin-top: 20px;
		border-bottom: 1px solid #dbdbdb;
	}
	.forcasttype {
		padding: 0.5em;
		font-size: 14px;
		color: #000000;
		border: 1px solid #dbdbdb;
		border-right-width: 0px;
		border-bottom-width: 0px;
		float: left;
		margin-right: 0px;
		height: 20px;
		line-height: 20px;
		float: left;
	}
	.forcastright {
		border-right-width: 1px;
	}
	.forcasttype:hover {
		background-color: #efefef;
		color: #000000;
	}
	.typeactive {
		background-color: #efefef;
	}
	.notifyNewForcast {
		background-color: rgb(248, 148, 6);
		border-radius: 9px 9px 9px 9px;
		display: inline-block;
		padding: 1px 9px;
		font-size: 11.844px;
		font-weight: bold;
		line-height: 14px;
		color: rgb(255, 255, 255);
		text-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.25);
		white-space: nowrap;
		vertical-align: baseline;
		cursor: pointer;
	}
	.sepstructure {
		margin-right: 150px;
	}
	.fnumbers {
		font-size: 12px;
		float: left;
		width: 120px;
		text-align: left;
	}
	.forcastcompare {
		width: 250px;
	}
	.lineforcast {
		height: 15px;
		line-height: 15px;
		float: left;
		width: 250px;
	}
	.percentage {
		width: 220px;
		float: left;
		text-align: right;
		font-size: 12px;
	}
	.forcastbaseline img {
		float: left;
	}
	.forcastbaseline {
		width: 120px;
		border: 1px solid #dbdbdb;
		margin-top: 5px;
		height: 5px;
		float: left;
	}
	.partline {
		float: left;
		height: 5px;
		background-color: #208041;
	}
	.textsearchbox {
		width: 300px;
		border: 1px solid #dbdbdb;
		font-size: 14px;
		position:fixed;
		left:300px;top:200px;
		background-color:#ffffff;
	}
	.texts {
		height: 70px;
	}
	.ranges {
		height: 100px;
	}
	.searchcontenttype {
		float: left;
		font-size: 14px;
		color: #000000;
		width: 294px;
		border-bottom: 1px solid #dbdbdb;
		background-color: #eaedec;
		padding: 3px;
	}
	.searchcontent {
		border: 1px solid #dbdbdb;
		color: #9d9d9d;
		font-size: 14px;
		height: 20px;
		width: 180px;
		margin: 9px 0px 0px 8px;
		float: left;
	}
	.startsearch {
		float: left;
		height: 24px;
		background-color: #1297cf;
		color: #ffffff;
		border-style: none;
		font-size: 14px;
		margin: 9px 0px 5px 0px;
	}
	.startsearch:hover {
		background-color: #0e80b0;
	}
	.searchcancle {
		float: left;
		height: 24px;
		background-color: #efefef;
		color: #9d9d9d;
		border-style: none;
		font-size: 14px;
		margin: 9px 0px 5px 10px;
	}
	.searchcancle:hover {
		background-color: #dbdbdb;
		color: #7c7c7c;
	}
	.searchforcasttype {
		border: 1px solid #dbdbdb;
		height: 24px;
		width: 24px;
		float: left;
		background-color: transparent;
		margin-top: 9px;
		margin-left: 10px;
		margin-right: 5px;
	}
	.searchforcasttype:hover {
		background-color: #efefef;
	}
	.activetype {
		background-color: #efefef;
	}
	.righttype {
		margin-right:38px;
	}
/*********************************************	    chart                   */
	.chartview{
		width:850px;
		height:450px;
		position:fixed;
		left:300px;top:200px;
	}
	.adjustbt{
		float:left;
		margin-top:80px;
		margin-right:10px;
		margin-left: 10px;
		width:50px;
		height:50px;
		background-repeat: no-repeat;
	}
	.previousdate{
		background-image:url(../prev-date.png);
	}
	.centerchart{
		width:680px;
		height:400px;
		float:left;
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-position: center;
		border:5px solid #d7d7d7;
	}
	.laterdate{
		background-image:url(../later-date.png);
	}
	.charttypebt {
		position: absolute;
		top: 3%;
		padding: 6px;
		background-color: #1297cf;
		color: #ffffff;
		border-radius: 5px;
	}
	.charttypebt:hover {
		background-color: #0e80b0;
	}
	.chartactive {
		background-image:url(../btnchov.png);
	}
	.closebt {
		float: right;
		margin-top: 5px;
		margin-right: 5px;
		width: 20px;
		height: 20px;
		background-image: url(../closeicon.png);
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		border-width: 0px;
		width: 20px;
	}
	.closebt:hover {
		background-image: url(../closeiconh.png);
	}
	#tooltip {
	    position: absolute;
	    display: none;
	    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	    font-weight: bold;
	    font-size: 12px;
	    line-height: 20px;
	    color: #646464;
	    background-color: #F0F8FF;
	    padding: 5px 10px;
	    border: 1px solid #e1e1e1;
	    border-radius: 5px;
	}

/*********************************************	    chart                                end               */