@charset "UTF-8";
/* CSS Document */

/*small screen*/
/*@media screen and (max-width: 800px) {

 }*/

/*big screen*/

.linef {
     float: left;
     display: block;
     width: 900px;
}
.lineone {
     border-bottom: 1px solid #a8a8a8;
}
.divide {
     height: 3px;
}
.nordvd {
     border-right: 5px solid #ffffff;
}
.lastdvd {
     border-left: 5px solid #ffffff;
}

.listoffiles {  
  position:fixed;
  left:1100px;
  top:75px;
     background-color: #ffffff;
     border: 1px solid #dbdbdb;
     border-radius: 5px;
     height: auto;
     padding: 3px;
}
#listoffiles-head{
	border-bottom:1px solid #9d9d9d;
	font-size:14px;
	color:#9d9d9d;
	text-align:center;
	cursor:default;

	/*background-image:url("../../images/img/arrow-down.png");
	background-position:right 10%;
	background-repeat:no-repeat;*/
}
#listoffiles-head p{
	margin:5px 22px 5px 10px;
}
.file {
     float: left;
     padding: 3px 0px 3px 0px;
     line-height: 20px;
     margin: 0px 5px 0px 5px;
     border-bottom: 1px dashed #dbdbdb;
     clear: left;
}
.noshowfile {
     text-decoration: line-through;
}
.filename {
     color: #696d72;
     font-size: 14px;
     padding: 0px;
     margin: 0px 5px 0px 5px;
     float: left;
}
.filestatus {
     color: #696d72;
     font-size: 14px;
     padding: 0px;
     margin: 0px;
     float: left;
}
.filenum {
     font-size: 14px;
     background-color: #dbdbdb;
     color: #7c7c7c;
     border: 1px solid #dbdbdb;
     border-radius: 3px;
     float: left;
     width: 15px;
     height: 15px;
     line-height: 15px;
     text-align: center;
     margin-top: 2px;
     background-image:url("../../images/img/magnifying-glass.png");
     background-position:center center;
     background-repeat:no-repeat;
}
.abstractline p.filerr {
     color: red;
}
/*.currentview {
     text-decoration: blink;
}*/
#demands{
	float:left;
	margin-left:20px;
}

.abstractline {
	
     width: 870px;
     height: 50px;
     line-height: 50px;
     border: 1px solid #dbdbdb;
     border-radius: 5px;
     float: left;
     padding: 3px 3px 3px 20px;
     margin-bottom: 20px;
}
.abstractline p {
     font-size: 15px;
     float: left;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 0px;
     color:#999;
}
.abstractline img {
     float: left;
     margin-right: 10px;
}
/* upload demand	buttons*/
#demandupload {
     opacity: 0;
     filter: alpha(opacity=0);
     cursor: pointer;
     display: block;
     height: 40px;
     position: absolute;
     width: 320px;
     font-size: 30px;
     left: -170px;
     top: -8px;
}
/*@-moz-document url-prefix() {
#demandupload {
     left: -355px;
     width: 190px;
}
}*/
.add-file-button {
     position: relative;
     float: left;
     overflow: hidden;
     cursor: pointer;
     text-align: center;
     font: -webkit-small-control;
     -webkit-box-align: center;
     margin-right: 3px;
     font-size: 18px;
     width: 100px;
}
.add-file-button:hover {
     background-color: #0E80B0;
}
.add-file-button .title {
     cursor: pointer;
     display: inline-block;
     line-height: 38px;
}
.upload-controls-blocks .btupload {
     cursor: pointer;
     width: 100px;
     height: 38px;
}
#file-upload-info-list {
     margin-top: 3px;
     padding: 3px;
     font-size: 16px;
     color: #696D72;
}
#file-upload-info-list .filenum-td {
     width: 20px;
     height: 20px;
}
#file-upload-info-list .filenum-list {
     background-color: #DBDBDB;
     color: #7C7C7C;
     border: 2px solid #DBDBDB;
     border-radius: 3px;
     width: 20px;
     height: 15px;
     line-height: 15px;
     text-align: center;
}
#file-upload-info-list .filename-td {
     min-width: 80px;
}
#file-upload-info-list .filebyte-td {
     min-width: 40px;
     text-align: center;
}
#file-upload-info-list .filemsg-td {
     color: red;
}
.correct-img-span {
     height: 20px;
     height: 20px;
     background-image: url(/assets/iconedit.png);
     display: block;
     background-repeat: no-repeat;
}
.correct-img-span:hover {
     background-image: url(/assets/iconedith.png);
}
