@charset "UTF-8";
/* CSS Document */

/*small screen*/
@media screen and (max-width: 800px) {
}

/*big screen*/
@media screen and (min-width:800px) {
	.wrapcontent {
		width: 1000px;
		float: left;
		margin-left: 30px;
		padding-bottom: 50px;
	}
	.lefticon {
		margin-top: 0px;
		width: 15px;
		float: left;
		border-width: 1px;
		border-left-width: 0px;
		border-style: solid;
		border-color: #dadada;
		border-collapse: collapse;
		border-style: solid;
	}
	.tableview {
		float: left;
	}
	.demandData {
		float: left;
		margin: auto;
		border-collapse: collapse;
	}
	.demandlineone {
		border-bottom: 1px solid #a8a8a8;
	}
	.divide {
		height: 3px;
	}
	.nordvd {
		border-right: 5px solid #ffffff;
	}
	.lastdvd {
		border-left: 5px solid #ffffff;
	}
	.demandlineone th {
		color: #7c7c7c;
		padding-bottom: 0.3em;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.3em;
		text-align: center;
		font-size: 0.9em;
		font-family: Arial;
		font-weight: normal;
		line-height: 1.5em;
	}
	.filetag {
		border-color: #ffffff;
	}
	.indication {
		float: left;
		background-color: #dbdbdb;
		color: #9d9d9d;
		font-size: 14px;
		border-radius: 3px;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		width: 120px;
	}
	.demandnorline th {
		color: #9d9d9d;
		padding-bottom: 0.3em;
		padding-left: 1em;
		padding-right: 1em;
		margin-left: 0.3em;
		margin-right: 0.3em;
		padding-top: 0.3em;
		text-align: center;
		font-weight: normal;
		font-size: 0.9em;
		padding-right: 1em;
		margin-left: 0.3em;
		margin-right: 0.3em;
		padding-top: 0.3em;
		text-align: center;
		font-weight: normal;
		font-size: 0.9em;
		border-bottom: 1px dashed #a8a8a8;
	}
	.botbts {
		width: 430px;
		margin-left: 330px;
		height: 120px;
		position: fixed;
		bottom: 0px;
		margin-top: 20px;
		text-align: center;
		background-color: #efefef;
	}
	.botbtn {
		float: left;
		width: 85px;
		height: 85px;
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
		margin: 20px 10px 10px 10px;
		background-color: #efefef;
	}
	.botbtn:hover {
		background-color: #dbdbdb;
		border-color: #c2c2c2;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
	}
	.botbtn p {
		font-size: 14px;
		margin-top: 60px;
		color: #696d72;
	}
	.btsave {
		background-image: url(../save.png);
		background-repeat: no-repeat;
		background-position: center 8px;
	}
	.btdownload {
		background-image: url(../download.png);
		background-repeat: no-repeat;
		background-position: center 8px;
	}
	.btcancel {
		background-image: url(../cancel.png);
		background-repeat: no-repeat;
		background-position: center 8px;
	}
	.btsend {
		background-image: url(../send.png);
		background-repeat: no-repeat;
		background-position: center 8px;
	}
	.listoffiles {
		position: fixed;
		top: 70px;
		right: 10px;
		width: 250px;
		background-color: #ffffff;
		border: 1px solid #dbdbdb;
		border-radius: 5px;
		height: auto;
		padding: 3px;
	}
	.file {
		float: left;
		height: 20px;
		padding: 3px 0px 3px 0px;
		line-height: 20px;
		width: 230px;
		margin: 0px 5px 0px 5px;
		border-bottom: 1px dashed #dbdbdb;
	}
	.noshowfile {
		text-decoration: line-through;
	}
	.filename {
		color: #696d72;
		font-size: 14px;
		padding: 0px;
		margin: 0px 5px 0px 5px;
		float: left;
	}
	.filesender {
		color: #696d72;
		font-size: 14px;
		padding: 0px;
		margin: 0px;
		float: left;
	}
	.filenum {
		font-size: 14px;
		background-color: #dbdbdb;
		color: #7c7c7c;
		border: 1px solid #dbdbdb;
		border-radius: 3px;
		float: left;
		width: 15px;
		height: 15px;
		line-height: 15px;
		text-align: center;
		margin-top: 2px;
	}
	.filerr {
		color: red;
	}
	.currentview {
		text-decoration: blink;
	}
	.forcasttypes {
		width: 740px;
		height: auto;
		float: left;
		margin-bottom: 20px;
		margin-top: 20px;
		border-bottom: 1px solid #dbdbdb;
	}
	.forcasttype {
		padding: 0.5em;
		font-size: 14px;
		color: #000000;
		border: 1px solid #dbdbdb;
		border-right-width: 0px;
		border-bottom-width: 0px;
		float: left;
		margin-right: 0px;
		height: 20px;
		line-height: 20px;
		float: left;
	}
	.forcastright {
		border-right-width: 1px;
	}
	.forcasttype:hover {
		background-color: #efefef;
		color: #000000;
	}
	.typeactive {
		background-color: #efefef;
	}
	.notifyNewForcast {
		margin-left: 5px;
	}
	.sepstructure {
		margin-right: 150px;
	}
	.fnumbers {
		font-size: 12px;
		float: left;
		width: 120px;
		text-align: left;
	}
	.forcastcompare {
		width: 250px;
	}
	.lineforcast {
		height: 15px;
		line-height: 15px;
		float: left;
		width: 250px;
	}
	.percentage {
		width: 220px;
		float: left;
		text-align: right;
		font-size: 12px;
	}
	.forcastbaseline img {
		float: left;
	}
	.forcastbaseline {
		width: 120px;
		border: 1px solid #dbdbdb;
		margin-top: 5px;
		height: 5px;
		float: left;
	}
	.partline {
		float: left;
		height: 5px;
		background-color: #208041;
	}
	#this1 {
		width: 100%;
	}
	#last1 {
		width: 10%;
	}
	#this2 {
		width: 20%;
	}
	#last2 {
		width: 100%;
	}
	#this3 {
		width: 70%;
	}
	#last3 {
		width: 100%;
	}
	#this4 {
		width: 100%;
	}
	#last4 {
		width: 33%;
	}
	.textsearchbox {
		width: 300px;
		border: 1px solid #dbdbdb;
		font-size: 14px;
		position:fixed;
		left:300px;top:200px;
		background-color:#ffffff;
	}
	.texts {
		height: 70px;
	}
	.ranges {
		height: 100px;
	}
	.searchcontenttype {
		float: left;
		font-size: 14px;
		color: #000000;
		width: 294px;
		border-bottom: 1px solid #dbdbdb;
		background-color: #eaedec;
		padding: 3px;
	}
	.searchcontent {
		border: 1px solid #dbdbdb;
		color: #9d9d9d;
		font-size: 14px;
		height: 20px;
		width: 180px;
		margin: 9px 0px 0px 8px;
		float: left;
	}
	.startsearch {
		float: left;
		height: 24px;
		background-color: #1297cf;
		color: #ffffff;
		border-style: none;
		font-size: 14px;
		margin: 9px 0px 5px 0px;
	}
	.startsearch:hover {
		background-color: #0e80b0;
	}
	.searchcancle {
		float: left;
		height: 24px;
		background-color: #efefef;
		color: #9d9d9d;
		border-style: none;
		font-size: 14px;
		margin: 9px 0px 5px 10px;
	}
	.searchcancle:hover {
		background-color: #dbdbdb;
		color: #7c7c7c;
	}
	.searchforcasttype {
		border: 1px solid #dbdbdb;
		height: 24px;
		width: 24px;
		float: left;
		background-color: transparent;
		margin-top: 9px;
		margin-left: 10px;
		margin-right: 5px;
	}
	.searchforcasttype:hover {
		background-color: #efefef;
	}
	.activetype {
		background-color: #efefef;
	}
	.righttype {
		margin-right:38px;
	}
}