<script>
function test(){
	$.post("./data_chart",{},
			  function(data){ $('#result_chart').html(data); },
			  "html");
}

function chart_search( hash, page ){
     if (page==null)   	page=0;
	$.post("./data_analysis",{ partNr: hash["partNr"], options: hash, page: page },
			  function(data){ $('#result').html(data); },
			  "html");
}

function chart_history(key){
	$.post("./demand_history",{demandId:key,startIndex:'2012/10/1',endIndex:'2012/12/31'},
			  function(data){ $('#result_chart').html(data); },
			  "html");
}
</script>

<input type="button" value="test" onclick="test();" />

<div id='result_chart' style='clear: left'></div>
<div id="partNr_float">
	<span class="searchcontenttype" >零件号</span>
	<input type="text" name="searchcontent" class="searchcontent" style="clear: left" placeholder="请输入零件号" />
	<input type="button" name="startsearch" class="startsearch" value="搜索" onclick="chart_search( {partNr:$(this).prev().val()} );"/>
	<input type="button" name="canclesearch" class="searchcancle" value="取消" />
</div>
<div id='result' class="tableview" style="clear: left"></div>
