<script src="/assets/jquery.file.upload/jquery.fileupload.js" type="text/javascript"></script>
<script src="/assets/demand-upload.js" type="text/javascript"></script>
<script language="javascript">
     window.onload = check_staff_cache_file();
     $(document).ready(upload_demand_files); 
</script>
<div class="uploadline">
     <div id="upload-file-area">
          <div name="upload" class="uploadfile">
               请上传预测表格:
          </div>
          <div>
               <div style="display:block; " class='upload-controls-blocks'>
                    <div class="add-file-button btupload"><div class="title">添加文件</div>
                         <input id="demandupload" type="file" name="files[]" data-url="../demander/upload_files/" multiple>
                    </div>
                    <input type="submit" value="开始上传"   class="btupload" id='upload-button'>

                    <input type="button" value="取消选择"  class="btupload"  id='cancel-button'/>
               </div>
               <div class="abstractblock" id="file-upload-info-list" style="display:none;">
                    <table id="upload-file-preview"></table>
               </div>
          </div>
     </div>
     <div id='upresult'>

     </div>
     <div id="handingMsg" class="abstractline" style="display: none;">
          <img src="/assets/loading.gif" />
          <p>
               上传成功，正在处理数据...
          </p>
     </div>
     <div class="botbts" style="display: none;">
          <div class="btsave botbtn">
               <p>
                    保存到草稿
               </p>
          </div>
          <div class="btdownload botbtn"  onclick="download_demand();">
               <p>
                    下载
               </p>
          </div>
          <div class="btcancel botbtn" onclick="cancel_demand_upload();" id="cancelDemandUpBtn">
               <p>
                    取消
               </p>
          </div>
          <div class="btsend botbtn" onclick="send_demand_batchFile(this);">
               <p>
                    发送
               </p>
          </div>
     </div>
</div>
<div id="handle-dialog-modal">
     <div class="handle-dialog-modal-content">
          <p>
               <img src="/assets/loading.gif" />&nbsp;&nbsp;正在发送中...
          </p>
     </div>
</div>
<div id="dialog-overlay"></div>
