<link rel="stylesheet"  type="text/css" href="/assets/warehouse/stock_out.css" />

<div class="search_banner">
	<span class="uploadfile">仓库：</span>
	<%= select_tag :whId,  options_for_select(@whlist),  prompt: "请选择仓库..." %>
	<span class="uploadfile">零件号：</span>
	<%= text_field_tag :partNr %>
	<%= button_tag '库位列表',:class=>"normal-middle-btn", :type=>'button',:onclick=>"stock_out_list();"%>
</div>

<div id="positions_list"></div>

<script type="text/javascript">
function stock_out_list(){
	$.post("../warehouse/stock_out_list",
		{
			whId: $('#whId').val(),
			partNr: $('#partNr').val()
		},
		function(data){
				$('#positions_list').html(data);
		},
		'html'		
	);
}

function stock_out(e, str){
	if (str==="scrap")
		flag = true
	else
		flag = {};
	$.post("../warehouse/stock_out",
		{
			posiId: $(e).parent().parent().attr("posiid"),
			partNr: $(e).parent().parent().children(':nth-child(3)').text(),
			amount: $(e).parent().parent().children(':nth-child(5)').children().val(),
			ccName: $(e).parent().parent().children(':nth-child(8)').children().val(),
			scrap: flag
		},
		function(data){
			if (data.flag){
				$(e).parent().parent().children(':nth-child(4)').text(data.obj);
				$(e).parent().parent().children(':nth-child(4)').addClass("new-add");
				$(e).parent().parent().children(':nth-child(5)').children().val("");
			}
			MessageBox(data.msg);
		},
		'json'		
	);
}
</script>