<link rel="stylesheet"  type="text/css" href="/assets/warehouse/stock_out.css" />

Warehouse:<%= select_tag :whId,  options_for_select(@whlist),  prompt: "请选择仓库..." %>
<br/>
partNr:<%= text_field_tag :partNr %>
<br/>
<%= button_tag '库位列表',:name=>"out_list",:type=>'button',:onclick=>"stock_out_list();"%>
<hr/>
<div id="positions_list"></div>


<script type="text/javascript">
function stock_out_list(){
	$.post("../warehouse/stock_out_list",
		{
			whId: $('#whId').val(),
			partNr: $('#partNr').val()
		},
		function(data){
				$('#positions_list').html(data);
		},
		'html'		
	);
}


function stock_out(e){
	$.post("../warehouse/stock_out",
		{
			posiId: $(e).parent().parent().attr("posiid"),
			partNr: $('#partNr').val(),
			amount: $(e).parent().prev().children().val()
		},
		function(data){
			if (data.flag){
				$(e).parent().prev().prev().text(data.obj);
				$(e).parent().prev().children().val("");
				$(e).parent().prev().prev().addClass("new-add");
			}
			MessageBox(data.msg);
		},
		'json'		
	);
}
	
</script>