<ul class="down-load-interface">
	<a href="http://42.121.111.38/soft/scmclient/setup.exe">
	<li class="down-client ">
		<div class="pull-left down-items">
			<h2>IFSCM&nbsp;客户端下载</h2>
		</div>
		<div class="pull-right down-sign"></div>
	</li> </a>
	<li class="down-user-ticket">
		<div class="pull-left  down-items">
			<h2>IFSCM&nbsp;用户手册下载</h2>

		</div>
		<div class="pull-right down-sign"></div>
	</li>
</ul>